*{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none!important;
}
.content{
	width: 1200px;
	margin: 0 auto;
}
.top,.top_content{
	background: white;
	height: 115px;
}
.logo{
	float: left;
}
.ipt_search{
	float: right;
	width: 340px;
	height: 115px;
	position: relative;
}
.ipt_search input{
	width: 336px;
	height: 40px;
	margin-top: 30px;
}
.ipt_search input:focus{
	outline: none;
}
.ipt_search img{
	position: absolute;
	right: 0;
	top: 30px;
	cursor: pointer;
}
.nav,.nav_content{
	background: #00c0ff;
	height: 50px;
}
.nav_lis{
	width: 880px;
	height: 50px;
	display: flex;
	text-align: center;
}
.nav_lis li{
	flex: 1;
}
.nav_lis li a{
	display: block;
	width: 100%;
	height: 50px;
	color: white;
	line-height: 50px;
	font-size: 14px;
	font-family: "宋体";
}

#carousel-example-generic{
	width: 100%;
	min-width: 1200px;
}
.carousel-inner img{
	width: 100%;
	min-width: 1200px;
}

.news_img,.news_img img{
	width: 100%;
	min-width: 1200px;
}
.news_img{
	margin: 45px 0px 20px 0px;
}
.news{
	width: 100%;
}
.news_content{
	height: 590px;
}
.news_lis{
	width: 740px;
	height: 40px;
	margin: 0 auto;
	display: flex;
	border-bottom: 1px solid #00C0FF;
	margin-top: 30px;
}
.news_lis li{
	flex: 1;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.news_lis li a{
	display: block;
	width: 100%;
	height: 40px;
	color: black;
	font-size: 14px;
	font-family: "微软雅黑";
}
.news_lis li a:hover{
	text-decoration: none;
}
.news_lis li:first-child a{
	background: #00C0FF;
	color: white;
}
.news_contents{
	width: 100%;
	height: 540px;
	
}
.news_contents .news1{
	width: 100%;
	padding: 30px 20px;
	display: none;
}
.news_contents .active{
	display: block;
}
.news_1_left{
	width: 195px;
	height: 140px;
	margin: 10px;
	float: left;
}
.news_1_left img{
	width: 195px;
	height: 140px;
}
.news_1_right{
	width: 910px;
	padding: 10px;
	float: left;
}
.news_1_right .title{
	font-size: 18px;
	color: black;
	font-family: "微软雅黑";
}
.news_1_right p:nth-child(2){
	font-size: 14px;
	color: #686868;
	font-family: "微软雅黑";
}
.news_1_right p:nth-child(2) {
    position:relative;
    line-height:30px;
    /* 3 times the line-height to show 3 lines */
    height:95px;
    overflow:hidden;
}
.news_1_right p:nth-child(2)::after {
    content:"...";
    font-weight:bold;
    position:absolute;
    bottom:5px;
    right:0;
    padding:0 20px 1px 45px;
    background:url(http://newimg88.b0.upaiyun.com/newimg88/2014/09/ellipsis_bg.png) repeat-y;
}

.party,.party_img img{
	width: 100%;
	min-width: 1200px;
}
.party1{
	width: 100%;
	display: flex;
	margin-top: 30px;
}
.party1>div.p1{
	width: 48%;
	margin: 10px;
	height: 400px;
}
.party1_top{
	height: 40px;
	width: 100%;
	border-bottom: 1px solid #00C0FF;
}
.party1_top p label{
	display: block;
	width: 100px;
	height: 40px;
	line-height: 40px;
	color: white;
	font-size: 16px;
	background: #00C0FF;
	float: left;
	text-align: center;
}
.party1_top p span{
	display: block;
	width: 50px;
	height: 40px;
	line-height: 40px;
	color: #ff0014;
	font-size: 12px;
	float: right;
	text-align: center;
	
}
.party1_top p:after{
	display: block;
	content: "";
	clear: both;
}
.party1_content:after{
	display: block;
	content: "";
	clear: both;
}
.party1_content{
	width: 100%;
	margin-top: 20px;
}
.party1_content_left{
	width: 240px;
	height: 160px;
	margin: 10px;
	float: left;
}
.party1_content_left img{
	width: 240px;
	height: 160px;
}

.party1_content_right{
	width: 300px;
	padding: 10px;
	float: left;
}
.party1_content_right p:first-child{
	font-size: 16px;
	color: black;
	font-family: "微软雅黑";
}
.party1_content_right p:nth-child(2){
	font-size: 14px;
	color: #686868;
	position:relative;
    line-height:30px;
    /* 3 times the line-height to show 3 lines */
    height:120px;
    overflow:hidden;
}
.party1_content_right p:nth-child(2)::after {
    content:"...";
    font-weight:bold;
    position:absolute;
    bottom:0px;
    right:0;
    padding:0 20px 1px 45px;
    background:url(http://newimg88.b0.upaiyun.com/newimg88/2014/09/ellipsis_bg.png) repeat-y;
}

.party1_content1{
	width: 100%;
	height: 170px;
	padding: 10px;
}
.party1_content1 li span:first-child{
	font-size: 14px;
	color: #686868;
	width: 400px;
	display: inline-block;
	float: left;
	position:relative;
    line-height:30px;
    /* 3 times the line-height to show 3 lines */
    height:30px;
    overflow:hidden;
}
.party1_content1 li span:first-child::after {
    content:"...";
    font-weight:bold;
    position:absolute;
    bottom:0px;
    right:-15px;
    padding:0 20px 1px 45px;
    background:url(http://newimg88.b0.upaiyun.com/newimg88/2014/09/ellipsis_bg.png) repeat-y;
}

.party1_content1 li span:nth-child(2){
	font-size: 14px;
	color: #686868;
	width: 100px;
	display: inline-block;
	float: right;
}

.video,.video img{
	width: 100%;
}
.video_mes{
	width: 100%;
	height: 55px;
	background: #FF0014;
	position: relative;
}
.s_t{
	position: absolute;
	width: 15px;
	height: 10px;
	top: -5px;
	left: 100px;
	background-image: url(../img/video/s_t2.png);
}
.video_mes p a{
	display: inline-block;
	padding: 0px 20px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	color: white;
	margin: 10px;
}
.video_mes p a:first-child{
	border-right: 1px solid white;
}
.video{
	position: relative;
}
.video .play{
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -25px 0 -25px 0px;
}
.p2,.p2 img{
	width: 100%;
}
.hd{
	width: 100%;
	min-width: 1200px;
	height: 450px;
	background: url(../img/jl/jl.png);
	margin-bottom: 50px;
}
.hd_content{
	height: 450px;
}
.hd_title{
	text-align: center;
	padding: 60px 0px;
}
.hd_1{
	width: 100%;
	height: 200px;
	display: flex;
}
.hd_1 div.hd_11{
	flex: 1;
	height: 200px;
	text-align: center;
}
.hd_1 div.hd_11 p{
	font-size: 14px;
	color: white;
	margin-top: 40px;
}
.footer{
	width: 100%;
	min-width: 1200px;
	height: 175px;
	background: #f0f0f0;
	padding: 50px 10px;
}
.footer p{
	text-align: center;
	font-size: 14px;
	color: black;
}
.footer p a{
	font-size: 14px;
	color: black;
}
